.ddsmoothmenu{ float:right; width:77.6%; font-family: 'Roboto', sans-serif; font-size:17px; font-weight:400; padding:0px; }
.ddsmoothmenu ul{z-index:100;margin: 0;padding: 0;list-style-type: none; float:right; }
/*Top level list items*/
.ddsmoothmenu ul li{ 
position: relative; list-style:none; float: left; display:inline-block; border-right:1px solid #343d47;
-webkit-transform: skew(0deg);
-moz-transform: skew(0deg);
-ms-transform: skew(0deg);
-o-transform:skew(0deg);
transform: skew(0deg);
-webkit-transition:all 200ms linear 0s; -moz-transition:all 200ms linear 0s; -o-transition:all 200ms linear 0s; transition:all 200ms linear 0s; 
}
/*.ddsmoothmenu ul li:last-child { border-right:none; }*/
.dsmoothmenu ul li::after {
background-color: #00c2c2;
content: "";
height:0%;
left:0px;
position: absolute;
bottom: 0;
width:100%;
z-index: -1;
-webkit-transition: all 300ms ease 0s;
-moz-transition: all 300ms ease 0s;
-ms-transition: all 300ms ease 0s;
-o-transition: all 300ms ease 0s;
transition: all 300ms ease 0s;
}
ddsmoothmenu ul li:hover::after { height:100%; }
ddsmoothmenu ul li.current::after { height:100%; }
ddsmoothmenu ul li.social-ico:hover::after { height:0%; }

.ddsmoothmenu ul li a{
float:left;
display: block;
background:none; /*background of menu items (default state)*/
padding:0px 27px; 
margin:0px;
font-size:15px;
font-weight:700;
color:#ffffff;
text-align:center;    
line-height:51px;
text-transform:uppercase;
text-decoration: none;
height:100%;
}
/*.ddsmoothmenu ul li:first-child a { background:url(../img/home-ico.png) no-repeat center center; text-indent:-999999px; color:#4c8478; }

.ddsmoothmenu ul li:first-child { border:none;}
.ddsmoothmenu ul li:first-child a:hover {  background:url(../img/home-ico.png) no-repeat center center;}

.ddsmoothmenu ul li.current.home a { background:url(../img/home-ico-white.png) no-repeat center center #4c8478; border-top:0px; border-right:1px solid rgba(0,0,0,0.2); line-height:56px;}
.ddsmoothmenu ul li.current.home a:hover { background:#fff; background:url(../img/home-ico.png) no-repeat center center; line-height:52px;}
.ddsmoothmenu ul li.current.home { border-right:none; }*/


* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link{  }
.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover, .ddsmoothmenu li.current a { background: url(../pdtimg/menu-hover.png) no-repeat bottom  center #232f3e; }
.ddsmoothmenu ul li.current:first-child a { /*color:#4c8478; border-top:4px solid #daa724; */}
.ddsmoothmenu ul li ul li a.selected{ }
.ddsmoothmenu ul li:hover, .ddsmoothmenu ul li.current:first-child, .ddsmoothmenu ul li a.active { background: url(../pdtimg/menu-hover.png) no-repeat bottom  center #232f3e; }




/*1st sub level menu*/
.ddsmoothmenu ul li ul{ position: absolute; left: 0; display: none; border: 1px solid #222222; border-bottom:none; /*collapse all sub menus to begin with*/ }

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{ display: list-item; float: left; background:none; padding:0!important; height:auto; }

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
width:210px; /*width of sub menus*/
padding: 5px 10px 5px 12px;
margin: 0;
border-bottom: 1px solid #222222;
background:#282828;
color:#ffffff !important;
font-size:14px;
text-transform:none;
text-align:left;
line-height:25px;
}
.ddsmoothmenu ul li ul li a:hover{ background:#ff5b10; color:#ffffff!important; }

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{ top: 0; margin:0px; padding:0px; } 
.ddsmoothmenu ul li ul li ul li{ display: list-item; float: left; } 
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{ position: absolute; top: 12px; right: 7px; }
.rightarrowclass{ position: absolute; top: 6px; right: 5px; }

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow{ position: absolute; left: 0;top: 0; width: 0; height: 0; }
.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/ opacity: 0.8; }

